---
---

@import "{{ site.theme }}";

.site-header {
  border-top: none;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.home h1,h2{
  margin-bottom: $spacing-unit / 4;
}

.home h3{
  margin-bottom: $spacing-unit / 6;
}

